body{
  font-size: 15px;
}
#signupBody{
  padding: 0 10%;
}
/* Index page */
.image-parent {
  margin-right: 1%;
}
.img-fluid {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 80px;
  width: 80px;
}
/* Sign up page*/
#signupTitle{
  margin-top: 5%;
}
#signupForm{
  padding: 2% 10%;
}
/* Photo page */
#photoTitle{
  text-align: center;
  margin-top: 5%;
  font-size: 3em;
  text-transform: uppercase;
}
.mainContainer{
  display: grid;
  grid-template-columns: 30% 30% auto;
  justify-content: center;
  margin-top: 5%;
}
.viewImage{
  width: 300px;
  height: 300px;
}
.photoSubContainer{
  background-color: #EFE0E8;
  width: 300px;
  height: 340px;
}
.photoIconSection{
  padding-top: 1%;
  padding-left: 1%;
}
/*
photoUpload.html
*/
#photoUploadContainer{
  padding: 5% 10% 0 10%;
}
#uploadPhotoTitle{
  margin-bottom: 2%;
}

#photoSubmitButton {
  pointer-events: none;
}

.auth-user #photoSubmitButton {
  pointer-events: all;
}

#addPhoto{
  margin-left: 7%;
}

@media only screen and (max-width: 1000px){
  .viewImage{
    width: 270px;
    height: 270px;
  }
  .photoSubContainer{
    width: 270px;
    height: 300px;
  }
}
@media only screen and (max-width: 950px){
  .mainContainer{
    display: block;
  }
  .photoSubContainer{
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .viewImage{
    width: 400px;
    height: 400px;
  }
  .photoSubContainer{
    width: 400px;
    height: 450px;
  }
}